<div class="product__card">
    <h2 class="product__card__name">{{name}}</h2>
    <p>{{description}}</p>
    <small class="product__card__id">ID: {{id}}</small>
    <div>
        <strong class="product__card__price">{{price}}</strong>
        <a href="/product-edit?id={{id}}" class="product__card__button">Редагувати</a>
    </div>
</div>